/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url("https://fonts.googleapis.com/css?family=Catamaran|Courgette|Dancing+Script|Passion+One&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(
    80.97% 211.77% at 50% 50%,
    #ffffff 0%,
    #c6c4c4 100%,
    #c6c4c4 100%
  );
}

#root {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
  grid-gap: 10px;
  grid-template-rows: 80px 10fr 30%;
  align-items: center;
  overflow: hidden;
}

.header {
  justify-self: right;
  grid-column: 1 / 4;
  grid-row: 1;
  display: flex;
  flex-direction: row;
}

.cards {
  align-self: center;
  justify-self: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper .cards .card {
  width: 90%;
  height: 300px;
  max-height: 100%;
  background: radial-gradient(
    111.45% 311.7% at 50% 50%,
    #fff5d3 0%,
    #ffffff 100%
  );
  border: 1px solid #727272;
  box-sizing: border-box;
  /* box-shadow: 5px 5px 5px 1px rgba(94, 94, 94, 0.4); */
  border-radius: 25px;
  transform: rotate(0deg);
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  position: absolute;
  /* top: calc(50%-150px); */
  bottom: 10vh;
  left: 0px;
  margin: 10% 5%;
}

/* .wrapper .cards #text {
  line-height: 25px;
  font-size: 1.2rem;
} */

.wrapper .cards .card .quote {
  grid-column: 2/4;
  grid-row: 2/3;
  font-family: Courgette;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 45px;
  color: #555555;
  transform: rotate(0deg);
}

.wrapper .cards .card .quote::before {
  font-family: Passion One;
  font-size: 2rem;
  content: '"';
}

.wrapper .cards .card .quote::after {
  font-family: Passion One;
  font-size: 2rem;
  content: '"';
}

.wrapper .cards .card .author {
  justify-self: center;
  grid-column: 3/5;
  grid-row: 3/4;
  font-family: Dancing Script;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 43px;
  color: #8a8a8a;
  transform: rotate(0deg);
  margin-right: 20px;
}

.wrapper .cards .card .author::before {
  content: "-";
}

.wrapper .footer {
  grid-column: 2/3;
  grid-row: 3 / 4;
  align-self: baseline;
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 8fr 20px;
  grid-template-rows: minmax(50px, 1fr) 3fr;
  align-items: center;
  justify-items: end;
}

.facebook {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 25px;
  height: 25px;
  background-image: url("./images/facebook.svg");
  background-size: cover;
  background-position: center;
  margin: 20px;
  display: block;
}

.tumbler {
  grid-column: 3/4;
  grid-row: 1/2;
  width: 25px;
  height: 25px;
  background-image: url("./images/tumbler.svg");
  background-size: cover;
  background-position: center;
  margin: 0 20px;
  display: block;
}

.twitter {
  grid-column: 4/5;
  grid-row: 1/2;
  width: 25px;
  height: 25px;
  background-image: url("./images/twitter.svg");
  background-size: cover;
  background-position: center;
  margin: 0 20px;
  display: block;
}

.NEXT {
  grid-column: 5/6;
  grid-row: 1/2;
  width: 55px;
  height: 25px;
  background-image: url("./images/NEXT.svg");
  background-size: cover;
  background-position: center;
  margin: 0 20px;
  display: block;
  cursor: pointer;
}

.wrapper .header .pause {
  width: 35px;
  height: 35px;
  background-image: url("./images/pause.svg");
  background-size: contain;
  background-position: center;
  margin: 0 20px;
  cursor: pointer;
}

.play {
  width: 35px;
  height: 35px;
  background-image: url("./images/play.svg");
  background-size: contain;
  background-position: center;
  margin: 0 20px;
  display: none;
}

.theme {
  width: 35px;
  height: 35px;
  background-image: url("./images/theme.svg");
  background-size: cover;
  background-position: center;
  margin-right: 60px;
  display: none;
}
